.swipe-but {
  border: 0.1rem solid #ff5a5f;
  min-width: 10rem;
  padding: 0.7rem;
  position: relative;
  overflow: hidden;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
  padding-left:40px;
}
.swipe-but * {
  pointer-events: none;
  user-select: none;
}
.swipe-but .swipe-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 2rem;
  background: #ff5a5f;
  transition: width 0.2s ease-out;
  will-change: width;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;  
}


.swipe-but .swipe-overlay .overlay-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.swipe-but .swipe-overlay .img-wrapper {
  /*arrow*/
  width: 40px !important;
  position: absolute;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  background: #ff5a5f;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.swipe-but .swipe-overlay .overlay-txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
